
.idea/dictionaries/Administrator.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pythondemo.iml
.idea/vcs.xml
.idea/workspace.xml
data/

.idea/sqldialects.xml
.idea/codeStyles/codeStyleConfig.xml
